<form [formGroup]="poolGallonForm">
  <label>
    Shape
    <select id="sddPoolShape" formControlName="shape">
      <option *ngFor="let shape of shapes" [value]="shape.value">{{shape.text}}</option>
    </select>
  </label>
  <label>
    Length (ft)
    <input type="text" id="txtLength" formControlName="length">
  </label>
  <label>
    Width (ft)
    <input type="text" id="txtWidth" formControlName="width">
  </label>
  <label>
    Depth 1 (ft)
    <input type="text" id="txtDepth1" formControlName="depth1">
  </label>
  <label>
    Depth 2 (ft)
    <input type="text" id="txtDepth2" fromControlName="depth2">
  </label>
  <input type="button" id="btnCalculatePoolGallons" value="Calculate" (click)="calculate()">
</form>
<div>
  <label for="txtPoolGallons">Pool Gallons</label>
  <input type='text' id="txtPoolGallons" [(ngModel)]="gallons">
</div>
<div>
  {{ poolGallons }} gallons
</div>